:root {
    --color-w: #FFFFFF;
    --color-1-2: #E5E5E5;
    --color-2: #212121;
    --color-3: #757575;
    --color-logo: #2196F3;
    --color-4: #2F303A;
    --color-st-hover: #188CE8;
    --color-teambg:  #F5F4FA;
    --color-link-footer: rgba(255, 255, 255, 0.6)

  }

* {
    box-sizing: border-box;
  }

body {
    background: var(--brand-color-1);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    width: 1600px;
}

ul {
   list-style: none;
}

head {
    background:var(--color-w);    
    height: 80px;
    left: 0px;
    top: 0px;
    width: 1600px;
}

h1 {
    color: var(--color-w);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    width: 700px;
    text-align: center;
}

h3 {
    height: 19px;
    font-weight: 500;
    font-size: 16px;
    left: 278px;
    letter-spacing: 0.03em;
    line-height: 19px;
    text-align: center;
    top: 1925px;
    width: 145px;
}

p {
    color: var(--color-3);
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    left: 285px;
    letter-spacing: 0.03em;
    line-height: 19px;
    text-align: center;
    top: 1954px;
    width: 130px;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 1600px;
}

.header {
    align-items: center;
    border: 1px solid #ececec ;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
}


.header-nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header .logo {
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--color-logo);
}

.link-nav {
    width: 57px;
    height: 16px;
    left: 552px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--color-2)
}

.link-nav:hover {
    color: var(--color-logo) ;
}

.contact-nav {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.link-button {
    color: var(--color-2);    
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    height: 38px;
    left: 576px;
    letter-spacing: 0.03em;
    line-height: 26px;
    text-align: center;
    top: 174px;
    width: 128px;
}

.link-button:hover {
    color:var(--color-white);
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;    
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
}
.studio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-4);
    height: 600px;
    left: 3px;
    top: 69px;
    width: 1600px;
}

.button-studio {
    color: #FFFFFF;
    background: var(--color-logo);
    width: 200px;
    height: 50px;
    left: 738px;
    top: 419px;
}

.button-studio:hover {
    background-color: var(--color-st-hover);
    width: 200px;
    height: 50px;
    left: 738px;
    top: 419px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.about {
        background: var(--color-1-2);
        

}

/* TODO */

.about-ul {
    display: flex;

}
.wwd-title {
    width: 198px;
    height: 42px;
    left: 701px;
    top: 969px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-2);
}

.team {
    display: inline-flex;
    width: 1200px;
    height: 648px;
    left: 0px;
    top: 1449px;
    background: var(--color-teambg);
}

.team-tittle {
    width: 165px;
    height: 42px;
    left: 718px;
    top: 1543px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-2);
}

.footer {
    width: 1200px;
    height: 252px;
    left: 0px;
    top: 2097px;
    background: var(--color-4);
}

.footer-list {
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2197px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--color-white);
}

.link-mail {
    width: 231px;
    height: 21px;
    left: 215px;
    top: 1782px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.link-tel {
    width: 231px;
    height: 21px;
    left: 215px;
    top: 1812px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);    
}

.project-img {
    box-sizing: border-box;
    width: 370px;
    height: 404px;
    left: 215px;
    top: 262px;
    background: var(--color-white);
    border: 1px solid #EEEEEE;
    display: inline-block;
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color:var(--color-2);
}
 
