:root {
    --color-w: #FFFFFF;
    --color-1-2: #E5E5E5;
    --color-2: #212121;
    --color-3: #757575;
    --color-logo: #2196F3;
    --color-4: #2F303A;
    --color-st-hover: #188CE8;
    --color-teambg: #F5F4FA;
    --color-link-footer: rgba(255, 255, 255, 0.6)
}

* {
    box-sizing: border-box;
}

body {
    background: var(--brand-color-1);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    width: 100%;
}

h1 {
    color: var(--color-w);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    width: 700px;
    text-align: center;
}


h3 {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 16px;
}

h4 {
    color: var(--color-2);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 0px;
}

p {
    color: var(--color-3);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 24px;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
}

header {
    align-items: center;
    background: var(--color-w);
    border: 1px solid #ececec;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    height: 80px;
    width: 100%;
}

.container {
    width: 100%;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

.footer .logo,
.header-nav .logo {
    color: var(--color-logo);
    height: 31px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    left: 215px;
    line-height: 31px;
    letter-spacing: 0.03em;
    top: 24px;
    width: 145px;
}

.link-nav {
    width: 70px;
    height: 16px;
    left: 552px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--color-2)
}

.link-nav:hover {
    color: var(--color-logo);
}

.contact-nav {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    width: 140px;
}

.link-button {
    color: var(--color-2);
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    height: 38px;
    left: 576px;
    letter-spacing: 0.03em;
    line-height: 26px;
    text-align: center;
    top: 174px;
    width: 128px;
}

.link-button:hover {
    color: var(--color-white);
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
}

.studio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-4);
    height: 600px;
    width: 100%;
}

.button-studio {
    color: #FFFFFF;
    background: var(--color-logo);
    width: 200px;
    height: 50px;
}

.button-studio:hover {
    background-color: var(--color-st-hover);
    width: 200px;
    height: 50px;
    left: 738px;
    top: 419px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.about {
    width: 100%;
    padding: 94px 200px;
}

.about-ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.what-we-do {
    width: 100%;
    padding: 94px 200px;
}

.class-title {
    height: 42px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-2);
    padding-bottom: 55px;
    margin: 0;
}

.wwd-content {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.our-team {
    width: 100%;
    padding: 94px 200px;
    background: var(--color-teambg);
}

.our-team-content {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.our-team-card {
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.footer {
    width: 100%;
    height: 252px;
    padding: 60px 200px;
    background: var(--color-4);
}

.footer-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--color-w);
}

.link-contact {
    width: 231px;
    height: 21px;
    left: 215px;
    top: 1782px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}


.link-contact:hover {
    color: var(--color-logo);
}

.section-buttons {
    width: 100%;
    padding: 106px 200px 50px 200px;

}

.button-project {
    font-weight: 500;
    width: 128px;
    height: 38px;
    left: calc(50% - 128px/2 - 160px);
    top: calc(50% - 38px/2 - 735px);
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.button-project:hover {
    color: var(--color-w);
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 500;
}

.guide-buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
}


.projects {
    width: 100%;
    padding: 0 200px 82px 200px;
}

.project-img {
    display: flex;
    flex-wrap: wrap;
    background: var(--color-w);
    gap: 30px;
}

.project-card {
    border: 1px solid #EEEEEE;
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--color-2);
    padding-left: 24px;
}

.project-p {
    color: var(--color-3);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    padding-left: 24px;
}